<app-image-preview (imagesList)="onImagesUpdated($event)"></app-image-preview>

<div *ngIf="images && images.length"class="image-gallery">
  <button mat-mini-fab class="side-nav" (click)="prevImage()" [disabled]="currentIndex === 0">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="image-thumbnails">
    <img *ngFor="let image of images; let i = index"
         [src]="image"
         [class.active]="i === currentIndex"
         (click)="currentIndex = i"
         alt="Thumbnail">
  </div>

  <button mat-mini-fab   class="side-nav" (click)="nextImage()" [disabled]="currentIndex === images.length - 1">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
